<html>
<head>
  <title>Genderify your playlist</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>

{% block head %}
{% endblock %}

  <link rel="stylesheet" href="/static/main.css">

</head>
<body>
  <header>
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8" id="head">
        <h1><a href="/">Genderify<span id="dot">.</span></a></h1>
        <h2>Find the gender balance in your Spotify playlists</h2>
      </div>
    </div>
  </div>
  </header>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
  {% block scripts %}
  {% endblock %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col offset-lg-2 mr-auto">
          <span>Copyright Steve Pike, Andy Cox, Ulrich Atz 2018</span>
        </div>
        <div class="col ml-auto">
          <a href="https://github.com/stringfellow/genderify/">Genderify on GitHub</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
