{% extends "base.jinja" %}
{% block content %}
    <div class="row">
      <div id="img-demo" class="col-lg-8 offset-lg-2 text-center">
        <img class="img-fluid" src="/static/desktop-demo.gif" alt="How to get the playlist link on your desktop" id="desktop-demo">
        <img class="img-fluid" src="/static/mobile-demo.gif" alt="How to get the playlist link on your mobile device" id="mobile-demo">
        <p id="caption">Copy the Spotify playlist URI using the 'Share' menu item.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div id="main">
          <p>Paste your Spotify playlist <strong>link</strong> below to get a summary of the gender split!</p>
          <form class="text-center">
            <input name="playlistURI"
                   class="form-control"
                   type="url"
                   placeholder="https://open.spotify.com/user/stringfellow/playlist/681HLcJAfxpbJPMLTtTGXC?si=2iBQRsUgR6yVTA4pvbk6gw"
            ></input>
            <input type="submit" class="btn-success btn btn-lg" value="Genderify it!" id="submit"></input>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="info" class="offset-lg-2 col-lg-8">
        <p>Note: This is not a production of Spotify. It is an open-source project of Steve Pike, Andy Cox and Ulrich Atz.</p>
      </div>
    </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $('form').submit(function(data) {
      var spotify_auth = "https://accounts.spotify.com/authorize?";
      var url = $('input').val();
      if (!_.startsWith(url, 'https://open.spotify.com/user/')) {
        alert('You must use a Spotify playlist link!');
        return false;
      }
      var parts = $('input').val().split('/');
      var un = parts[4];
      var plid = parts[6].split('?')[0];
      var uid = un + ':' + plid;
      var query = {
        client_id: "c0a8f2b89f9d44839ae7fdb4c2a42380",
        redirect_uri: "http://{{ request.host }}/callback",
        response_type: "token",
        state: uid
      };
      window.location = spotify_auth + $.param(query);
      return false;
    });
  </script>
{% endblock %}
