{% extends "base.jinja" %}
{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div id="playlists-intro">
        <p>Here's a few playlists we've made or found that are female focussed - if you have some great suggestions for this page, let use know!</p>
      </div>
    </div>
  </div>
  <div id="playlists">
  </div>
{% endblock %}
{% block scripts %}
<script type="text/template" id="template">
<div class="row prepared-playlist" id="playlist-<%= id %>">
  <div class="col-md-5 offset-md-1 text-center">
    <iframe
       src="https://open.spotify.com/embed/user/<%= user %>/playlist/<%= id %>"
       width="300" height="380" frameborder="0" allowtransparency="true"
       allow="encrypted-media">
    </iframe>
  </div>
  <div class="col-md-5 text-center">
    <h4 id="result-title">
      <a href="https://open.spotify.com/user/<%= user %>/playlist/<%= id %>" target="_blank"><%= title %></a>
      <span class="small" id="by">
        by <a href="https://open.spotify.com/user/<%= user %>/" target="_blank"><%= user %></a>
      </span>
    </h4>
    <div class="ct-chart"></div>
    <a role="button" class="btn btn-success btn-lg" href="/result/<%= user %>/<%= id %>">
      See full results
    </a>
  </div>
</div>
</script>

<script type="text/javascript">
var playlists = {{ context.playlists|safe }};

var template = _.template($('#template').text());

_.each(playlists, function(playlist, ix) {
  var data = {
    labels: [
      'female',
      'male'
    ],
    series: [
      playlist.female,
      playlist.male
    ]
  };

  var options = {
    labelInterpolationFnc: function(value, idx) {
      return numeral(data.series[idx] / playlist.total).format('0%') + ' ' + data.labels[idx];
    }
  };

  var responsiveOptions = [
    ['screen and (min-width: 640px)', {
      chartPadding: 0,
      labelOffset: 0,
      labelDirection: 'explode'
    }],
    ['screen and (min-width: 1024px)', {
      labelOffset: -40,
      chartPadding: 0
    }]
  ];

  $('#playlists').append(
    template(playlist)
  );
  new Chartist.Pie('#playlist-' + playlist.id + ' div.ct-chart', data, options, responsiveOptions);
});

</script>
{% endblock %}
